#edu-certificates {
  margin: 100px 0;
}

#edu-certificates h2 {
  margin-bottom: 50px;
}

.edu-cert-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.education-item,
.cert-card {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  /* border: 1px solid var(--glass-border); */
  background: var(--glass-bg);
  transition: all 0.3s ease;
  min-height: 220px;
}

.education-item img {
  height: 35px;
  width: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.cert-card img {
  width: 100%;
  height: 90px;
  object-fit: contain;
  margin-bottom: 10px;
}

.education-item h3,
.cert-card h3 {
  font-size: 0.95rem;
  color: var(--text-primary);
  margin: 5px 0;
  text-align: center;
  line-height: 1;
}

.education-item h4 {
  font-size: 0.8rem;
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 5px;
}

.education-item p {
  font-size: 0.75rem;
  color: var(--text-secondary);
  text-align: center;
  line-height: 1.25;
}

.cert-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  justify-content: space-between;
}

.cert-card h4 {
  font-size: 0.7rem;
  padding: 6px 16px;
  /* border: 1px solid var(--accent-cyan); */
  /* background: var(--cyan-glow-low); */
  color: var(--text-secondary);
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  margin-top: auto;
}

.cert-card:hover,
.education-item:hover {
  transform: translateY(-5px);
}

.cert-card:hover h4 {
  text-decoration: underline;
  color: var(--accent-cyan);
}

@media (max-width: 1024px) {
  .edu-cert-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .education-item,
  .cert-card {
    flex: none;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .education-item,
  .cert-card {
    width: 100%;
    max-width: none;
  }
}
