#gallery {
  margin-top: 50px;
  background-color: var(--bg-dark);
  display: none;
  /* border: 1px solid var(--glass-border); */
}

.images-container {
  margin: 10px auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.images-container::-webkit-scrollbar {
  display: block;
}

.images-item {
  position: relative;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: slide 20s infinite linear;
}

.images-item img {
  flex: 0 0 5em;
  padding: 0.2rem;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
  align-content: center;
}

.images-item img:hover {
  transform: translateY(0px) scale(1.05);
}

@keyframes slide {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
