:root {
  --bg-dark: #030712;
  --bg-card: rgba(17, 24, 39, 0.7);
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --accent-cyan: #00f3ff;
  --accent-purple: #bc13fe;
  --glass-border: rgba(255, 255, 255, 0.08);
  --glass-bg: rgba(155, 148, 148, 0.03);
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* ===== PORTFOLIO SCROLLER ===== */
#portfolio {
  padding-top: 80px;
}


.portfolio-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* gap: 10%; */
}

#portfolio h3 {
  color: var(--accent-cyan) ;
  text-align: center;
  margin: 10px;
}

.portfolio-scroller {
  overflow: hidden;
  width: 90%;
  cursor: grab;
  margin: 2% 5%;
}

.portfolio-scroller:active {
  cursor: grabbing;
}

.portfolio-wrapper > .portfolio-scroller {
  align-self: stretch;
}

.portfolio-container {
  display: flex;
  gap: 20px;
  will-change: transform;
  
}

.portfolio-container img {
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
  height: 200px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.portfolio-container img:hover {
  transform: scale(1.08);
}

/* ===== ARROW BUTTONS ===== */

.arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 10px;

}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.85);
}


/* ===== LIGHTBOX ===== */

#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 9999;
}

#lightbox.show {
  opacity: 1;
  pointer-events: all;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  cursor: grab;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}
